/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define some basic styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

header {
  background-color: #0056b3;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 36px;
}

main {
  display: flex;
  gap: 2em;
  justify-content: space-around;
  align-items: center;
  height: calc(100vh - 100px);
}

.attendance-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 30em;
  height: 80%;
}
.marked-list {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 30em;
  height: 80%;
}

.attendance-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.attendance-card img {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  display: block;
}

.hint {
  font-size: 16px;
  color: #666;
}

.present-list {
  margin: 2em;
}
li {
  margin: 2%;
  list-style: decimal;
  background-color: #fff200;
  color: rgb(0, 0, 0);
}
footer {
  background-color: #0056b3;
  color: #fff;
  text-align: center;
  padding: 10px;
}
button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}
