<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR Attendance System</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <h1>Inderprastha Engineering College</h1>
      <h2>Attendance Portal</h2>
    </header>
    <main>
      <div class="attendance-container">
        <div class="attendance-card-submitted">
          <h2>
            Attendance Submitted Successfully. <br />
            You may close the page.
          </h2>
        </div>
      </div>
    </main>
    <footer>
      <p>&copy; QR Attendance System 2023 - Team Hokage</p>
    </footer>
  </body>
</html>
