{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>College Attendance Portal</title>
    <link rel="stylesheet" href="{% static 'StudentView/Index_Style.css' %}" />
  </head>
  <body>
    <header class="header">
      <h1 class="header-title">Inderprastha Engineering College</h1>
      <h2>Attendance Portal</h2>
    </header>

    <div class="container">
      <section class="attendance-section">
        <h2 class="section-title">Select Your Name</h2>
        <form class="attendance-form" method="POST" action="/add_manually_post">
          <ul class="student-list">
            <li class="student">
              <label class="student-label">
                <span>Parijat Singh</span>
                <span class="checkmark"></span>
                <input
                  type="checkbox"
                  class="student-checkbox"
                  name="student"
                  value="Parijat Singh"
                />
              </label>
            </li>
            <li class="student">
              <label class="student-label">
                <span>Sumit Mishra</span>
                <span class="checkmark"></span>
                <input
                  type="checkbox"
                  class="student-checkbox"
                  name="student"
                  value="Sumit Mishra"
                />
              </label>
            </li>
            <li class="student">
              <label class="student-label">
                <span>Mridul Tiwari</span>
                <span class="checkmark"></span>
                <input
                  type="checkbox"
                  class="student-checkbox"
                  name="student"
                  value="Mridul Tiwari"
                />
              </label>
            </li>
            <li class="student">
              <label class="student-label">
                <span>Kaif Siddiqui</span>
                <span class="checkmark"></span>
                <input
                  type="checkbox"
                  class="student-checkbox"
                  name="student"
                  value="Kaif Siddiqui"
                />
              </label>
            </li>
            <li class="student">
              <label class="student-label">
                <span>Sofiya Rathore</span>
                <span class="checkmark"></span>
                <input
                  type="checkbox"
                  class="student-checkbox"
                  name="student"
                  value="Sofiya Rathore"
                />
              </label>
            </li>
            <li class="student">
              <label class="student-label">
                <span>Anshul Krishnatre</span>
                <span class="checkmark"></span>
                <input
                  type="checkbox"
                  class="student-checkbox"
                  name="student"
                  value="Anshul Krishnatre"
                />
              </label>
            </li>
            <li class="student">
              <label class="student-label">
                <span>Mohd Salman</span>
                <span class="checkmark"></span>
                <input
                  type="checkbox"
                  class="student-checkbox"
                  name="student"
                  value="Mohd Salman"
                />
              </label>
            </li>
            <li class="student">
              <label class="student-label">
                <span>Joel George</span>
                <span class="checkmark"></span>
                <input
                  type="checkbox"
                  class="student-checkbox"
                  name="student"
                  value="Joel George"
                />
              </label>
            </li>
            <!-- Add similar elements for other students -->
          </ul>
          <button type="submit" class="submit-button">Submit</button>
        </form>
      </section>
    </div>

    <footer class="footer">
      <p>&copy; QR Attendance System 2023 - Team Hokage</p>
    </footer>

    <script>
      const checkboxes = document.querySelectorAll(".student");

      checkboxes.forEach((checkbox) => {
        checkbox.addEventListener("change", () => {
          checkboxes.forEach((otherCheckbox) => {
            if (otherCheckbox !== checkbox) {
              otherCheckbox.querySelector(".student-checkbox").checked = false;
            }
          });
        });
      });
    </script>
  </body>
</html>
