{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>College Attendance Portal</title>
    <link rel="stylesheet" href="{% static 'StudentView/Index_Style.css' %}" />
  </head>
  <body>
    <header class="header">
      <h1 class="header-title">Inderprastha Engineering College</h1>
      <h2>Attendance Portal</h2>
    </header>

    <div class="container">
      <section class="attendance-section">
        <h2 class="section-title">Select Your Name</h2>
        <form
          class="attendance-form"
          method="POST"
          action="{% url 'add_manually_post' %}"
        >
          {% csrf_token %}
          <ul class="student-list">
            {% for student in students %}
            <li class="student">
              <label class="student-label">
                <span>
                  {{student.s_roll}} - {{ student.s_fname }} {{student.s_lname}}
                </span>
                <span class="checkmark"></span>
                <input
                  type="checkbox"
                  class="student-checkbox"
                  name="student-name"
                  value="{{student.s_roll}}"
                />
              </label>
            </li>
            {% endfor %}
          </ul>
          <button type="submit" class="submit-button">Submit</button>
        </form>
      </section>
    </div>

    <footer class="footer">
      <p>&copy; QR Attendance System 2023 - Team Hokage</p>
    </footer>

    <script>
      const checkboxes = document.querySelectorAll(".student");

      checkboxes.forEach((checkbox) => {
        checkbox.addEventListener("change", () => {
          checkboxes.forEach((otherCheckbox) => {
            if (otherCheckbox !== checkbox) {
              otherCheckbox.querySelector(".student-checkbox").checked = false;
            }
          });
        });
      });
    </script>
  </body>
</html>
